@font-face {
   font-family: 'CaviarDreams';
   font-display: swap;
   src: url('file:///C:/Users/Mohamed%20Ben/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-07-31_214939/fonts/CaviarDreams/font.ttf');
}
