@font-face {
   font-family: 'Volte W03 Regular';
   font-display: swap;
   src: url('Volte W03 Regular/font.ttf');
}
@font-face {
   font-family: 'CaviarDreams';
   font-display: swap;
   src: url('CaviarDreams/font.ttf');
}
