@font-face {
   font-family: 'Volte W03 Regular';
   font-display: swap;
   src: url('file:///C:/Users/Mohamed%20Ben/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-07-31_214939/fonts/Volte%20W03%20Regular/font.ttf');
}
